*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.class{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
#class__first{
    background-image: url(Img/bg.jpg);
}
#class__first-h1{
    font-family:sans-serif;
    font-size: 90px;
    letter-spacing: 8px;
    line-height: 80px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    word-spacing: 0px;
    font-weight: 400;
    background-color: #000000;
    display: inline;
    border-top-left-radius:16px ;
    border-bottom-right-radius:16px ;
    color: white;
    outline-offset: 15px;
    outline: 4px inset #860886;
    outline-width: 25px;
    height: auto;
    width: auto;
    padding: 50px 120px;
    

}
.section__light{
padding: 250px;
text-align: center;
font-size: 48px;
line-height: 1.6;
}
.section__dark{
    padding: 250px;
    text-align: center;
    font-size: 48px;
    line-height: 1.6;
    background-color: black;
    color:  #DDDDDD;
    opacity: 0.7;

}
.section__light--h1{
    font-size: 70px;
    font-weight: 700;
    height: 28px;
    margin: 20px 0 120px 0;
    background: #F1F1F1;


}
#class__second{
    background-image: url(Img/bg2.jpg);
    
}
img{
    width: 30%;

}
#class__third{
    background-image: url(Img/bg3.jpg);
    
}
.class__third--h1{
    font-family:sans-serif;
    font-size: 98px;
    letter-spacing: 8px;
    line-height: 80px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    word-spacing: 0px;
    font-weight: 400;
    background-color: #000000;
    margin-top: 50px;
    border-top-left-radius:16px ;
    border-bottom-right-radius:16px ;
    color: white;
    outline-offset: 15px;
    outline: 4px inset #860886;
    outline-width: 25px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 50px;
}
#class__fourth{
    background-image: url(Img/bg4.jpg);
    
}
#class__fifth{
    background-image: url(Img/bg.jpg);
    
}
